<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Inyección de layout -->
<div th:replace="layout :: layout(content='this :: content')">
    <div th:fragment="content">
    <h2>Mis Reservas</h2>
    <table>
        <thead>
        <tr>
            <th>Número de Vuelo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha de Salida</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.flight.flightNumber}"></td>
            <td th:text="${booking.flight.origin}"></td>
            <td th:text="${booking.flight.destination}"></td>
            <td th:text="${#dates.format(booking.flight.departureTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${booking.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>


