<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="..static/css/styles.css">
</head>
<body>
    <header>
        <a href="/" class="logo-link">
            <div class="logo-img">
                <img src="/images/logo01.png" alt="AirBoss Logo">
            </div>
            <span class="logo-text">AirBoss</span>
        </a>
        <nav>
            <a href="/">Home</a>
            {{#isLoggedIn}}
            <a href="/perfil">Profile</a>
            <a href="/logout">Logout</a>
            {{/isLoggedIn}}
            {{^isLoggedIn}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {{/isLoggedIn}}
        </nav>
    </header>
    <main>
        {{> content }}
    </main>
    <footer>
        <p>&copy; 2025 AirBoss</p>
    </footer>
</body>
</html>
