<nav class="menu">
    <div class="logo">
        <h1>AirBoss</h1>
    </div>
    <ul class="menu-links">
        <li><a href="/index">Inicio</a></li>
        <li><a href="/bookings/view">Mis Reservas</a></li>
        <li><a href="/search">Buscar Vuelos</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</nav>
