<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <a href="/" class="logo-link">
        <div class="logo-img">
            <img src="/images/logo01.png" alt="AirBoss Logo">
        </div>
        <span class="logo-text">AirBoss</span>
    </a>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/perfil">My Profile</a>
        <a href="/reservas/view">My Bookings</a>
        <a href="/logout">Logout</a>
    </nav>
</header>


<main class="search-container">
    <h1>{{title}}</h1>

    {{#error}}
        <div class="error-message">
            <p>{{error}}</p>
        </div>
    {{/error}}

    {{#flights}}
        <div class="flight">
            <h2>Flight Number: {{flightId}}</h2>
            <p><strong>From:</strong> {{origin}} | <strong>To:</strong> {{destination}}</p>
            <p><strong>Departure:</strong> {{departureTime}}</p>
            <p><strong>Available Seats:</strong> {{availableSeats}}</p>
            <form action="/reservas/crear" method="post">
                <input type="hidden" name="flightId" value="{{flightId}}">
                <button type="submit" class="btn btn-primary">Book Now</button>
            </form>
        </div>
    {{/flights}}

    {{^flights}}
        <p class="no-flights">No flights found for the selected criteria.</p>
        {{#suggestedFlights}}
            <h2>Suggested Flights:</h2>
            <div class="flight">
                <h2>Flight Number: {{flightId}}</h2>
                <p><strong>From:</strong> {{origin}} | <strong>To:</strong> {{destination}}</p>
                <p><strong>Departure:</strong> {{departureTime}}</p>
                <p><strong>Available Seats:</strong> {{availableSeats}}</p>
                <form action="/reservas/crear" method="post">
                    <input type="hidden" name="flightId" value="{{fightId}}">
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </form>
            </div>
        {{/suggestedFlights}}
    {{/flights}}
</main>

</body>
</html>
