<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - AirBoss</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <a href="/" class="logo-link">
        <div class="logo-img">
            <img src="/images/logo01.png" alt="AirBoss Logo">
        </div>
        <span class="logo-text">AirBoss</span>
    </a>
    <nav>
        <a href="/perfil">My Profile</a>
        <a href="/reservas/view">My Bookings</a>
        <a href="/buscar">Search Flights</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
<main class="reservas-container">
    <table>
        <thead>
        <tr>
            <th>Flight</th>
            <th>Date</th>
            <th>Status</th>
            <th>Seats Reserved</th> <!-- Nueva columna -->
        </tr>
        </thead>
        <tbody>
        {{#bookings}}
            <tr>
                <td>{{flight}}</td>
                <td>{{date}}</td>
                <td>{{status}}</td>
                <td>{{numberOfSeats}}</td> <!-- Mostrar asientos reservados -->
            </tr>
        {{/bookings}}
        {{^bookings}}
            <tr>
                <td colspan="4">No bookings found.</td>
            </tr>
        {{/bookings}}
        </tbody>
    </table>
</main>

<footer>
    <p>© 2025 AirBoss. Todos los derechos reservados.</p>
</footer>
</body>
</html>


